.header {
    background-color: black;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-bottom: none;
}

.header h1 {
    margin: 0;
    color: aqua;
    padding: 10px;
}

.page {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 63, 63);
    height: 600px;
    max-height: 600px;
    overflow: auto;
    width: 600px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-bottom: none;
}

.footer {
    background-color: transparent;
    position: absolute;
    top: 650px;
}

.textarea {
    width: 400px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    background-color: rgb(67, 63, 63);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    outline: none;
    color: aqua;
    letter-spacing: 1px;
    line-height: 20px;
    resize: none;
}

::placeholder {
    color: aqua;
    font-size: 25px;
  }

.button {
    background-color: rgb(67, 63, 63);
    width: 188px;
    height: 96px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-left: none;
    color: aqua;
    font-size: 25px;
    position: relative;
    top: -39.5px;
}

.button:hover {
    background-color: rgb(30, 29, 29);
    color: rgb(12, 208, 208);
    cursor: pointer;
}

.MyRow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.MyMessage {
    width: 40%;
    background-color: black;
    color: aqua;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-style: solid;
    border-color: aqua;
    border-radius: 25px;
    font-size: 25px;
    margin-top: 10px;
}

.PartnerRow {
    justify-content: flex-start;
}

.PartnerMessage {
    width: 40%;
    background-color: black;
    color: aqua;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-style: solid;
    border-color: aqua;
    border-radius: 25px;
    font-size: 25px;
    margin-top: 10px;
}